---
import Layout from "@layouts/layout.astro";
import { PatientList } from "@components/react/patient/list";
---

<Layout pageTitle="患者一覧">
  <PatientList client:load />
  <a href="/patient/register/">患者登録</a>
</Layout>
