---
import Layout from "@layouts/layout.astro";
import { PatientList } from "@components/react/patient/list";
---

<Layout pageTitle="患者一覧">
  <div class:list={["grid gap-4 content-start"]}>
    <h2 class:list={["text-2xl", "@xl:justify-self-center"]}>
      患者一覧（最新6件）
    </h2>
    <PatientList client:load />
  </div>
</Layout>
