---
import Layout from "@layouts/layout.astro";
import { PatientRegisterForm } from "@components/react/patient/register";
---

<Layout pageTitle="患者登録">
  <PatientRegisterForm client:load />
  <a href="/patient/list/">患者一覧</a>
</Layout>
