---
import Layout from "@/layouts/layout.astro";
import { PatientSearch } from "@components/react/patient-search";
---

<Layout pageTitle="患者検索">
  <div class:list={["grid gap-4 content-start mx-auto"]}>
    <h2 class:list={["text-2xl", "@lg:justify-self-center"]}>患者検索</h2>
    <PatientSearch client:load />
  </div>
</Layout>
