/* src/styles/daily-order-list.module.css */

.container {
  display: grid;
  gap: var(--body);
}

.report_title_area {
  display: none;
}

.for_print {
  display: none;
}

.print_button_message {
  @media (width >= 768px) {
    display: none;
  }
}

.print_button {
  display: none;

  @media (width >= 768px) {
    display: revert;
  }
}

.order_list_section {
  display: grid;
  gap: var(--space-line);
}

.order_list {
  display: grid;
  gap: var(--space-line);
}

.order_item_inner {
  border: var(--my-border);
  box-shadow: var(--box-shadow);
  border-radius: var(--body);
  padding: var(--body);
  display: grid;
  gap: var(--body);
  grid-template-areas:
    "time ."
    "order order"
    "name year"
    ". body"
    ". physician"
    "button button";
  grid-template-columns: minmax(0, auto) minmax(0, auto);
  grid-template-rows: repeat(6, minmax(0, auto));

  @media (width >= 768px) {
    gap: revert;
    grid-template-areas:
      "time . order order order order"
      ". . . . . ."
      "name . year . body physician"
      ". . . . . ."
      "button button button button button button";
    grid-template-columns:
      auto var(--heading1) auto var(--heading1)
      auto minmax(0, 1fr);
    grid-template-rows: auto var(--body) auto var(--body) auto;
  }
}

.order_time {
  grid-area: time;
}

.order_patient {
  grid-area: name;
}

.order_year {
  grid-area: year;
  justify-self: end;
  align-self: center;
}

.order_name {
  grid-area: order;
  font-weight: bold;
  font-size: var(--heading4);

  @media (width >= 768px) {
    font-size: var(--heading3);
  }
}

.order_body {
  grid-area: body;
  justify-self: end;
}

.order_physician {
  grid-area: physician;
  justify-self: end;
}

.delete_button {
  grid-area: button;
  justify-self: end;
}

@media print {
  :global(header),
  .no_print_area {
    display: none !important;
  }

  .for_print {
    border-top: 1px solid black;
    border-left: 1px solid black;
    display: block;
    color: black;
  }

  @page {
    size: A4 portrait;
    margin: 0;
  }

  .container {
    /* 紙の端から適切な余白を確保 */
    padding-block: 10mm;
    padding-inline: 20mm 10mm;
    width: 100%;
    box-sizing: border-box;
  }

  .report_title_area {
    display: block;
    color: black;
  }

  .report_title {
    font-size: var(--heading3);
  }

  .order_list {
    display: grid;
    gap: var(--body);
  }

  .order_content_row_1 {
    display: grid;
    grid-auto-flow: column;

    > div {
      > p:first-of-type {
        border-bottom: solid 1px black;
      }
    }

    .order_content_item {
      display: grid;
      border-bottom: solid 1px black;
      border-right: solid 1px black;

      > p {
        padding-inline: calc(var(--body) / 2);
      }

      > p:nth-of-type(2) {
        padding-top: calc(var(--body) / 2);
      }
    }
  }

  .order_content_row_2 {
    display: grid;
    grid-template-columns: 100px 1fr 160px 140px;
  }

  .exam_item_area > *,
  .drug_label,
  .record_area_user p,
  .record_area_time p,
  .activity_volume > div,
  .body_info_area {
    border-bottom: solid 1px black;
    border-right: solid 1px black;
  }

  .exam_item_area {
    grid-column: 1;
    display: grid;
    grid-template-rows: auto 1fr;

    > p {
      font-size: var(--body);
    }

    > div {
      display: grid;
      align-items: center;
    }
  }

  .exam_item {
    font-size: calc(var(--body) * 0.8);
  }

  .drug_label {
    grid-column: 2;
    font-size: var(--small);
  }

  .record_area {
    grid-column: 3;

    > * {
      display: grid;
      grid-template-columns: calc(var(--body) * 4 + 10px) auto;
      align-content: center;
    }

    > div {
      > p:nth-of-type(2) {
        text-align: center;
      }

      > *:first-of-type {
        font-size: var(--body);
      }
    }
  }

  .activity_volume {
    > div:first-of-type {
      display: grid;
      align-items: center;
    }

    > div:nth-of-type(2) {
      text-align: right;
    }
  }

  .volume_values {
    font-size: var(--small);
  }

  .body_info_area {
    grid-column: 4;

    p {
      font-size: var(--small);
    }
  }

  .body_info {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: end;
  }
}
