:root {
  --text: #555555;

  --font-family:
    "Yu Gothic Medium", "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif;

  --body: clamp(1rem, 0.9504rem + 0.2116vw, 1.125rem); /* 16px - 18px */
  --heading1: calc(var(--body) * 1.8);
  --heading2: calc(var(--body) * 1.6);
  --heading3: calc(var(--body) * 1.4);
  --space-line: calc(var(--body) * 1.8);
  --small: calc(var(--body) * 0.8);
  --half: calc(var(--body) / 2);
}

body {
  font-family: var(--font-family);
  font-size: var(--body);
  color: var(--text);
}

h1 {
  font-size: var(--heading1);
}

h2 {
  font-size: var(--heading2);
}

h3 {
  font-size: var(--heading3);
}

body,
h1,
h2,
h3,
p,
figure,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
