---
import { PatientPage } from "@components/react/patient-page";
import Layout from "@layouts/layout.astro";
---

<Layout>
  <h1>Astro</h1>
  <a href="/test/">テスト</a>
  <a href="/patient/list/">患者一覧</a>

  <PatientPage client:load />
</Layout>
